@import './custom.scss';

h1.navbar-brand {
  display: block;
  cursor: pointer;
  margin: 0;
  padding: 0;
  img {
    max-width: 100px;
  }
}

nav.custom-navbar-header {
  color: $white !important;
  padding-top: 0;
  padding-bottom: 0;
}

div.navbar-nav {
  flex-direction: row;
}

.custom-navbar-header .navbar-nav a.nav-link > svg,
.custom-navbar-header .dropdown-toggle,
.custom-navbar-header .dropdown-toggle > svg {
  transition: all 200ms;
  color: $lajt;
}

.custom-navbar-header .navbar-nav a.nav-link:hover > svg,
.custom-navbar-header .navbar-nav a.nav-link:active > svg,
.custom-navbar-header .navbar-nav a.nav-link:focus > svg,
.custom-navbar-header .dropdown-toggle:hover,
.custom-navbar-header .dropdown-toggle:hover > svg,
.custom-navbar-header .dropdown-toggle:active,
.custom-navbar-header .dropdown-toggle:active > svg,
.custom-navbar-header .dropdown-toggle:focus,
.custom-navbar-header .dropdown-toggle:focus > svg {
  color: $primary;
  cursor: pointer;
}

.header-container {
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  justify-content: space-between;
}

.header-searchbox {
  flex-grow: 1;
  margin-left: 45px;
  margin-right: 45px;
  justify-content: center;

  input {
    max-width: 600px;
  }
  @media (max-width: 767px) {
    order: 3;
    width: 100%;
    flex-shrink: 0;
    margin-left: 0;
    margin-right: 0;
  }

  button {
    margin-left: 10px;
    color: $white;
  }
}

.dropdown {
  display: flex;
  justify-content: center;
  align-items: center;
  & > a {
    padding: 0.5rem;
  }
}

.dropdown-menu {
  position: absolute !important;
  @media screen and (max-width: 1200px) {
    left: -120px !important;
  }
}
