@import './custom.scss';

main {
  margin: 40px 0;
  min-height: 100vh;
  // overflow: hidden;
  @media screen and (min-width: $md) {
    margin: 65px 0;
  }
}

.primary-color {
  color: $primary;
}

.lajt-color {
  color: $lajt;
}

.primary-bg-color {
  background-color: $primary;
}

h3 {
  font-weight: 700 !important;
  color: $secondary !important;
  margin: 10px 20px !important;
}

hr {
  margin: 10px 20px;
}

.custom-loader {
  position: relative;
  left: 50%;
  top: 100px;
}
