@import './custom.scss';

body {
  overflow-x: hidden;
}

main {
  margin: 40px 0;
  min-height: 100vh;
  // overflow: hidden;
  @media screen and (min-width: $md) {
    margin: 65px 0;
  }
}

.primary-color {
  color: $primary;
}

.lajt-color {
  color: $lajt;
}

.primary-bg-color {
  background-color: $primary;
}

h3 {
  font-weight: 700 !important;
  color: $secondary !important;
  margin: 10px 20px !important;
}

hr {
  margin: 10px 20px;
}

.custom-loader {
  position: relative;
  left: 50%;
  top: 100px;
}

svg {
  margin: 0 !important;
}

main h1 {
  color: #333;
  font-size: 1.7rem;
}

input {
  background-color: #fff !important;
}

input:-webkit-autofill,
input:-webkit-autofill:focus {
  appearance: menulist-button;
  border: 1px solid #e7e2f5;
  -webkit-box-shadow: 0 0 0px 1000px $light inset;
  transition: background-color 5000s ease-in-out 0s;
}

body h4 {
  font-size: 20px !important;
  color: #222;
  letter-spacing: 2px;
  margin-bottom: 18px;
}
